body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.header-right {
  border: 2px solid black;
  display: flex;
  align-items: center;
  align-items: space-between;
}

.search-bar{
  /* padding-right: 400px; */
} 

.navbar-buttons {
  border: 2px solid green;
  display: flex;
}

.navbar-button {
  border: 2px solid red;
  margin: 12px;
  font-size: 100%;
}

.delete-button {
  color: salmon;
}

.main-section {
  border:2px solid black;
  display: flex;
}

.add-to-cart-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.rating-slider-container {
  display: flex;
  align-items: space-between;
  flex-direction: column;
  width: 50%;
}

.rating-container {
  display: flex;
  align-items: center;
  align-items: space-between;
  flex-direction: row;
}

.product-container {
  display: flex;
  align-items: space-between;
}

.category-container{
  width:20%;
}

.category-filter{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
 
}

.category-filter img{
  width: 500;
  height:450;
}

