body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.header-right {
  border: 2px solid black;
  display: flex;
  align-items: center;
  align-items: space-between;
}

.search-bar{
  /* padding-right: 400px; */
} 

.navbar-buttons {
  border: 2px solid green;
  display: flex;
}

.navbar-button {
  border: 2px solid red;
  margin: 12px;
  font-size: 100%;
}

.delete-button {
  color: salmon;
}

.main-section {
  /* border:2px solid black; */
  display: flex;
}

.add-to-cart-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.rating-slider-container {
  display: flex;
  align-items: space-between;
  flex-direction: column;
  width: 50%;
}

.rating-container {
  display: flex;
  align-items: center;
  align-items: space-between;
  flex-direction: row;
}

.product-container {
  display: flex;
  align-items: space-between;
}

/*---------- CATEGORIES ----------*/

.category-container{
  /* border:2px solid black; */
  display: flex;
  flex-direction: column;
  min-width:150px;
  height: 80vh;
  background-color:slategray;
  margin:5px;
  color: white;

}

.category-container ul {
  /* border: 2px solid red; */
  list-style: none;
  text-align: left;
  padding-left: 3px;
  overflow: hidden;
  color: white;

  }

.category-container ul li {
  padding:5px;
  color: white;

 
}

li a:visited{
  color: inherit;
}

/*------- FILTERED-BY-CATEGORY---------*/

.filtered-products-holder{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.category-filter{
  /* border:2px solid black; */
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  color:black;

}

.category-filter img{
  height:180px;
}

